<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">jules</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="/about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="module" class="module parallax-4">
    <h1>Cache</h1>
</section>


<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2 break">
        <h3>OBJECTIVE</h3>
        <p><a href="http://yooying.com/cacheconsignment">Cache Consignment</a> is engaged in the marketing and sale of luxury designer items, jewelry, and watches. During alpha phase, the business wanted to evaluate a clear value proposition, gain user insight, and refine the user flow.</p>
        <%= image_tag "p1/p1-p2.png", class: "img-responsive img-centered break" %>
        <div class="col-md-4">
            <h3>PROJECT SCOPE</h3>
            <hr>
            <li>Understand main use cases</li>
            <li>Present data to be more relevant</li>
            <li>Streamline user flow</li>
            <li>Lessen the learning curve</li>
        </div>
        <div class="col-md-4">
            <h3>DELIVERABLE</h3>
            <hr>
            <li>Presentation deck of our research and recommendations</li>
            <li>Wireframes of recommended designs</li>
        </div>
        <div class="col-md-4">
            <h3>MY ROLE</h3>
            <hr>
            <li>User research</li>
            <li>User experience design</li>
        </div>
    </div>
</div>


<div class="research bg-light container project-content">

    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>COMPETITIVE ANALYSIS</h3>
            <p>Evaluate current and potential competitors. Using SWOT for competitive marketing analysis, the business's strengths, weaknesses, opportunities, and threats were evaluated. We learned that Cache has many well established competitors with a large user base. Cache's challenge will be to offer a unique buyer and seller experience.</p>
            <%= image_tag "p1/p1-p6.png", class: "img-responsive img-centered break" %>
        </div>
    </div>

    <div class="container research">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>RESEARCH: GUERILLA INTERVIEWS</h3>
            <p>Focused efforts on understanding user behaviors, needs, and motivations through observation techniques, task analysis, and other feedback methodologies. Participant interviews were conducted at bargain department stores i.e. Nordstrom Rack, Bloomingdale Outlet, and Off Saks 5th Avenue.</p><br>
        </div>
    </div>

    <div class="container">
        <div class="col-lg-8 col-lg-offset-2">
            <h3>USER FEEDBACK</h3><br>
            <blockquote class="center-block">"I like the idea of sustainable fashion but <b>can not afford</b> designer items."</blockquote>
            <blockquote class="center-block">"I purchased so many high end items and <b>do not</b> want to <b>donate them for free.</b>"</blockquote><br>
        </div>
    </div>
</div>

<section class="module parallax parallax-10">
    <div class="container">
    </div>
</section>


<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h3>SYNTHESIS: TYPES OF USERS</h3>
            <div class="row border break">
                <div class="col-md-3">
                    <%= image_tag "p1/p1-p10.png", class: "img-centered content-icon" %>
                    <h3>BARGAIN</h3>
                    <hr>
                    <li>Those who are looking to save a little on items that generally retail for a higher price.</li>
                </div>
                <div class="col-md-3">
                    <%= image_tag "p1/p1-p11.png", class: "img-centered content-icon" %>
                    <h3>SELLER</h3>
                    <hr>
                    <li>Regular consumers who are looking to sell products and receive small returns.</li>
                </div>
                <div class="col-md-3">
                    <%= image_tag "p1/p1-p12.png", class: "img-centered content-icon" %>
                    <h3>IMPULSE</h3>
                    <hr>
                    <li>Consumers who make impulsive purchases based on sale or other emotion.</li>
                </div>
                <div class="col-md-3">
                    <%= image_tag "p1/p1-p13.png", class: "img-centered content-icon" %>
                    <h3>RESELLER</h3>
                    <hr>
                    <li>Professionals who are looking to recondition used items and resell for small returns.</li>
                </div>
            </div>
        <h3>PERSONAS</h3>
        <div class="col-md-6">
            <%= image_tag "p1/p1-p20.png", class: "img-responsive img-centered img-left"%>
        </div>
        <div class="col-md-6">
            <%= image_tag "p1/p1-p21.png", class: "img-responsive img-centered img-right"%>
        </div>
        <div class="col-md-6">
            <%= image_tag "p1/p1-p22.png", class: "img-responsive img-centered img-left img-bottom"%>
        </div>
        <div class="col-md-6">
            <%= image_tag "p1/p1-p23.png", class: "img-responsive img-centered img-right img-bottom"%><br>
        </div>
        <h3>INSIGHTS:</h3>
            <div class="row text-center break">
                <div class="col-md-6 half-width">
                    <%= image_tag "p1/p1-p14.png", class: "img-centered content-icon" %>
                    <li>Most time was spend on a mobile device and individuals felt comfortable with making purchases via mobile apps.</li>
                </div>
                <div class="col-md-6 half-width">
                    <%= image_tag "p1/p1-p15.png", class: "img-centered content-icon" %>
                    <li>Most people were looking so save on items that otherwise would have costed much more.</li>
                </div>
            </div>
            <div class="row text-center break">
                <div class="col-md-6 half-width">
                    <%= image_tag "p1/p1-p16.png", class: "img-centered content-icon" %>
                    <li>Rather than clothes and bags, accessories were most popular in the second hand market.</li>
                </div>
                <div class="col-md-6 half-width">
                    <%= image_tag "p1/p1-p17.png", class: "img-centered content-icon" %>
                    <li>Sellers appreciated convenience and preferred a simple selling process.</li>
                </div>
            </div>
            <div class="row text-center break">
                <div class="col-md-6 half-width">
                    <%= image_tag "p1/p1-p18.png", class: "img-centered content-icon" %>
                    <li>High end luxury items were preferred over second tierd luxury items.</li>
                </div>
                <div class="col-md-6 half-width">
                    <%= image_tag "p1/p1-p19.png", class: "img-centered content-icon" %>
                    <li>Authentication and trust affected buyers decision making.</li>
                </div>
            </div>
        <h3>STORYBOARD</h3>
        <%= image_tag "p1/p1-p26.png", class: "img-responsive center-block break" %>
        <h3>USER JOURNEY</h3>
        <p>User's emotional landscape was plotted to shed 足足足足light on key opportunities for deepening partnerships.</p>
        <%= image_tag "p1/p1-p24.png", class: "img-responsive center-block break"%>
        <%= image_tag "p1/p1-p25.png", class: "img-responsive center-block break"%>
    </div>
</div>

 <div class="research bg-light container project-content">
    <div class="col-lg-8 col-lg-offset-2 project-scope">
        <h3>WIREFRAME</h3>
        <%= image_tag "p1/p1-p27.png", class: "img-responsive center-block break" %><br>
    </div>
    <div class="col-lg-8 col-lg-offset-2">
        <h3>USER FLOW</h3>
        <%= image_tag "p1/p1-p29.png", class: "img-responsive center-block break" %>
    </div>
</div>

<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h3>DESIGN</h3>
        <%= image_tag "p1/p1-p28.png", class: "img-responsive center-block break" %>
    </div>
</div>

<div class="research bg-light container project-content">
    <div class="col-lg-8 col-lg-offset-2 project-scope">
        <h3>PROTOTYPE</h3>
        <p>Using <a href="http://marvelapp.com">Marvel,</a> medium fidelity mockups were used for rapid prototyping. The following demonstrates the process of a seller using the app to schedule a pick up date and time for their item.</p>
        <iframe src="https://marvelapp.com/12i920j?emb=1" class="center-block break" width="450" height="650" allowTransparency="true" frameborder="0"></iframe>
        <ul class="list-inline item-details text-center">
            <li>Partner:
                <strong><a href="http://yooying.com/cacheconsignment">Cache Consignment</a>
                </strong>
            </li>
            <li>Date:
                <strong><a href="/">March 2016</a>
                </strong>
            </li>
            <li>Service:
                <strong><a href="/">UX Design</a>
                </strong>
            </li>
        </ul>
    </div>
</div>
