<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%= image_tag "name.png", class: "img-responsive center-block" %></a>
        </div>
        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="/about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="module" class="module parallax-7">
    <h1>IXL</h1>
</section>

<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2 text-center break">
        <p class="project-description">IXL is an educational software that is changing the delivery of academics into the classroom and at home. IXL has over 5 million users and is used in school districts large and small. Academics are also available for international academics and institutions.</p>
    </div>
</div>

<div class="bg-light container">
    <div class="col-lg-8 col-lg-offset-2 project-scope">
        <div class="row">
            <div class="col-md-4">
                <h3>PROJECT SCOPE</h3>
                <hr>
                <li>Better instruct new users in the onboarding process</li>
                <li>Provide features that will ease the workload of administrators</li>
                <li>Streamline user flow</li>
            </div>
            <div class="col-md-4">
                <h3>DELIVERABLE</h3>
                <hr>
                <li>Presentation deck of our research findings and recommendations</li>
            </div>
            <div class="col-md-4">
                <h3>MY ROLE</h3>
                <hr>
                <li>User Research</li>
                <li>User Experience Design</li>
            </div>
        </div>
    </div>
</div>

<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>CONTEXT: THE CHALLENGE</h1>
        <p class="project-description break">Deliver research and data driven design ideas for the current admin account. Understand the basic science of this data, determine what key features would be offered to users, and deliver a new approach to solve this problem. I was responsible for conducting research with top enterprise accounts to learn more about user needs and expectations. Given my client experience, I also took the lead on scheduling interviews, QA sessions, and communicating with our internal design team.</p>
        <%= image_tag "p2/p2-p1.jpg", class: "img-responsive center-block break" %>
    </div>
</div>

<div class="research bg-light container project-content">

    <div class="container research project-content">
        <div class="col-lg-8 col-lg-offset-2">
            <h1>RESEARCH: LEARNING ABOUT THE INDUSTRY</h1>
            <p class="project-description">Guided by the user-centered design (UCD) process, contexual interviews, heuristic evaluation, and affinity mapping was performed to learn more about our users and behaviors.</p>
            <h3>BRAND ANALYSIS</h3>
            <p class="project-description">Exploration and deep dive was conducted for companies in the same industry sector or market niche who compete with this company’s products and services.</p>
            <%= image_tag "p2/p2-p2.png", class: "img-responsive center-block break" %>
            <h3>HEURISTIC EVALUATION</h3>
            <p class="project-description">Heuristic evaluation was performed to understand the usability gaps in the existing admin portal. Some issues noticed were inconsistencies in accessible information and point of contact with the company, especially when modifying enrollment. Visually, the design was text heavy and did not have clear call-to-actions.</p>
            <%= image_tag "p2/p2-p3.png", class: "img-responsive center-block break" %>
            <h1>USER RESEARCH</h1>
            <p class="project-description">Investigate process systematically, applying various techniques to add context and insight into the design process.</p>
            <h3>USER SURVEY</h3>
            <p class="project-description">A survey was created to gauge the current program management experience. Survey results were used to provide the team an insight to admin's emotions toward the product as well as to guage to renewal rates.</p>
            <%= image_tag "p2/p2-p8.png", class: "img-responsive center-block break" %>
            <h3>FINDINGS</h3>
            <div class="row text-center">
                <div class="col-md-4">
                    <%= image_tag "p2/p2-p15.png", class: "img-centered content-icon" %>
                    <li>It is equally important to cater features to buyers (district administrators) and users (students) of this product.</li>
                </div>
                <div class="col-md-4">
                    <%= image_tag "p2/p2-p16.png", class: "img-centered content-icon" %>
                    <li>Products that were free or low cost was a key conversion factor for districts.</li>
                </div>
                <div class="col-md-4">
                    <%= image_tag "p2/p2-p17.png", class: "img-centered content-icon" %>
                    <li>Competitors retain customer base with grandfathered/special pricing.</li>
                </div>
            </div>
            <h3>FEEDBACK</h3>
            <blockquote class="center-block">"Every program we use allows us to modify our enrollment at any time, why can't yours?"</blockquote>
            <blockquote class="center-block">"The lower price point for this product is not worth the hassle it brings to our district and schools."</blockquote>
            <blockquote class="center-block">"We should be able to manage this on our end entirely and have ownership of our data."</blockquote>
            <h3>CONTEXUAL INQUIRY</h3>
            <p class="project-description">Admins who had good relation with the company were sought out to perform user testing using <a href="https://www.crazyegg.com/">CrazyEgg.</a> Admins performed the assigned task while participating in qualitative research (verbally describing actions of the task).</p>
            <%= image_tag "p2/p2-p13.png", class: "img-responsive center-block break" %>
        </div>
    </div>
</div>


<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>DEFINE: SET GUIDING PRINCIPLES</h1>
        <p class="project-description">Crafted personas and design principles helped guide our design decisions. We got in touch with teachers, school admins, tech managers, and district admins.</p>
        <h3>PROVISIONAL PERSONAS</h3>
        <p class="project-description">We defined four main users based on how they use our product and considered the setting they use it in.</p>
        <div class="row border break">
            <div class="col-md-3">
                <%= image_tag "p2/p2-p4.png", class: "img-centered content-icon" %>
                <h3>TEACHER / PARA</h3>
                <hr>
                <li>Managing product occasionally in substitution of the school manager.</li>
            </div>
            <div class="col-md-3">
                <%= image_tag "p2/p2-p5.png", class: "img-centered content-icon" %>
                <h3>SCHOOL ADMIN</h3>
                <hr>
                <li>Regular user who rely on this product for class assessments and performance.</li>
            </div>
            <div class="col-md-3">
                <%= image_tag "p2/p2-p6.png", class: "img-centered content-icon" %>
                <h3>TECH MANAGER</h3>
                <hr>
                <li>Managed data and student information oh behalf of district management.</li>
            </div>
            <div class="col-md-3">
                <%= image_tag "p2/p2-p7.png", class: "img-centered content-icon" %>
                <h3>DISTRICT ADMIN</h3>
                <hr>
                <li>Decision makers and budget managers for all district purchases.</li>
            </div>
        </div>
        <h3>DESIGN PRINCIPLES</h3>
        <p>Based on the needs we heard from users, we established three guiding principles to anchor our ideation process:</p>
        <div class="row lit-review2">
            <ul>
                <li>The enrollment management process should be as easy and quick, preferrably automated.</li>
                <li>The district management aspect should include full range of capabilities to adjust or edit enrollment.</li>
                <li>User flow should be streamlined so users do not need to contact customer support for small matters.</li>
            </ul>
        </div>
        <h3>AFFINITY MAP</h3>
        <p>Recording all observations, we created an affinity map to visualize user concerns and needs.</p>
        <%= image_tag "p2/p2-p11.png", class: "img-centered img-responsive break" %>
        <h3>USER JOURNEY</h3>
        <p class="project-description">A user journey map was crafted to tell the story of the customer’s experience: from initial contact, through the process of engagement and into a long-term relationship.</p>
        <%= image_tag "p2/p2-p14.png", class: "img-centered img-responsive break" %>
    </div>
</div>

 <div class="research bg-light container project-content">
    <div class="col-lg-8 col-lg-offset-2 project-scope">
        <h1>IDEATE</h1>
        <h3>BRAINSTORM</h3>
        <p class="project-description">Focused on iterations, user flow and interfaces through sketches, paper prototypes and wireframes. Visual hierarchy was optimized.</p>
        <%= image_tag "p2/p2-p9.png", class: "img-centered img-responsive break" %>
        <h3>INITIAL RECOMMENDATION</h3>
        <h4>#1 GRANT ADMIN POWER USER FEATURES</h4>
        <div class="row lit-review2">
            <ul>
                <li>Open up features that were available to our customer service team to the users end. This will give users the ability to make changes without contacting the company.</li>
            </ul>
        </div>
        <h4>#2 USE THIRD PARTY ENROLLMENT MANAGEMENT</h4>
        <div class="row lit-review2">
            <ul>
                <li>Partner with a third party vendor that manages enrollment and secure SFTP. This will alleviate the management tasks for our administrators and customer service team.</li>
            </ul>
        </div>
        <%= image_tag "p2/p2-p10.png", class: "img-centered img-responsive break" %>
        <h4>#3 BUILD AUTO ROSTERING FEATURE IN-HOUSE</h4>
        <div class="row lit-review2">
            <ul>
                <li>Create a similar process in house (similar to #2) to meet the demands of users. This will prevent the company from having to rely on a third party data manager.</li>
            </ul>
        </div>
    </div>
</div>

<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>EXPERIMENTATION</h1>
        <p class="project-description">The business decided to build the product in-house. Three large districts were selected to test feature during the next enrollment cycle. Special instructions and regulations were given to these districts to measure success rates of automated secure FTP.</p>
        <%= image_tag "p2/p2-p12.png", class: "center-block img-responsive break" %>
        <ul class="list-inline item-details text-center break">
        <li>Client:
            <strong><a href="http://startbootstrap.com">IXL</a>
            </strong>
        </li>
        <li>Date:
            <strong><a href="http://startbootstrap.com">Nov 2015</a>
            </strong>
        </li>
        <li>Service:
            <strong><a href="http://startbootstrap.com">UX Research</a>
            </strong>
        </li>
    </ul>
    </div>
</div>
