<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">jules</a>
        </div>
        

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="/about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<section id="module" class="module parallax-7">
    <h1>IXL</h1>
</section>

<div class="container project-content break">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>RESEARCH GOAL</h1>
        <p class="project-description">Research Admin account feature's ease of use on <a href="ixl.com">ixl.com</a> with three goals in mind:</p><br>
        <p>1. Discover patterns and unknown insights</p>
        <p>2. Set objectives, Create hypotheses, and reach conclusions</p>
        <p>3. Invent possible futures</p><br>
        <div class="row text-center"><br>
            <div class="col-md-4">
                <h1>11/15</h1>
                <li>Time period of research and anaylsis</li>
            </div>
            <div class="col-md-4">
                <h1>50</h1>
                <li>Number of users participated in the research</li>
            </div>
            <div class="col-md-4">
                <h1>+/-</h1>
                <li>Moderated quantitative testing method</li>
            </div>
        </div>
    </div>
</div>

<section class="module parallax parallax-9">
    <div class="container">
    </div>
</section>

<div class="research bg-light container project-content">
    <div class="container research"><br>
        <div class="col-lg-8 col-lg-offset-2">
            <h1>INDUSTRY ANALYSIS</h1><br>
            <h3>COMPARATIVE ANALYSIS</h3>
            <p class="project-description">Exploration and deep dive was conducted for companies in the same industry sector or market niche who compete with this company’s products and services.</p>
            <%= image_tag "p2/p2-p2.png", class: "img-responsive center-block break" %>
            <h3>HEURISTIC EVALUATION</h3>
            <p class="project-description">Heuristic evaluation was performed to understand the usability gaps in the existing admin portal.</p>
            <%= image_tag "p2/p2-p3.png", class: "img-responsive center-block break" %>
            <h1>DATA COLLECTION</h1><br>
            <p class="project-description">Investigate process systematically, measuring information on variables of interest. Identify patterns in ways users react when asked or tasked to complete exercise.</p><br>
            <h3>USER TESTING: 50 PARTICIPANTS SELECTED</h3>
            <%= image_tag "p2/p2-p18.png", class: "img-responsive center-block break" %>
            <h3>QUALITATIVE SURVEY</h3>
            <p class="project-description">A survey was designed with <a href="typeform.com">Typeform</a> to gauge the current program management experience.</p>
            <%= image_tag "p2/p2-p8.png", class: "img-responsive center-block break" %><br>
            <h3>FEEDBACK</h3><br>
            <blockquote class="center-block">"Every program we use allows us to modify our enrollment at any time, <b>why can't yours?</b>"</blockquote>
            <blockquote class="center-block">"The lower price point for this product is <b>not worth the hassle</b> it brings to our district and schools."</blockquote>
            <blockquote class="center-block">"We should be able to manage this on our end entirely and have <b>ownership</b> of our data."</blockquote><br>
            <h3>HEAT MAPPING</h3>
            <p class="project-description">Modereated participants were tasked to add, edit, and reactive a student account through the Admin portal using heatmapping tool,<a href="https://www.crazyegg.com/">CrazyEgg.</a></p>
            <%= image_tag "p2/p2-p13.png", class: "img-responsive center-block break" %>
        </div>
    </div>
</div>


<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>GUIDING PRINCIPLES</h1>
        <h3>PROVISIONAL PERSONAS</h3>
        <div class="row border break">
            <div class="col-md-3">
                <%= image_tag "p2/p2-p4.png", class: "img-centered content-icon" %>
                <h3>TEACHER / PARA</h3>
                <hr>
                <li>Managing product occasionally in substitution of the school manager.</li>
            </div>
            <div class="col-md-3">
                <%= image_tag "p2/p2-p5.png", class: "img-centered content-icon" %>
                <h3>SCHOOL ADMIN</h3>
                <hr>
                <li>Regular user who rely on this product for class assessments and performance.</li>
            </div>
            <div class="col-md-3">
                <%= image_tag "p2/p2-p6.png", class: "img-centered content-icon" %>
                <h3>TECH MANAGER</h3>
                <hr>
                <li>Managed data and student information oh behalf of district management.</li>
            </div>
            <div class="col-md-3">
                <%= image_tag "p2/p2-p7.png", class: "img-centered content-icon" %>
                <h3>DISTRICT ADMIN</h3>
                <hr>
                <li>Decision makers and budget managers for all district purchases.</li>
            </div>
        </div><br>
        <h3>DESIGN VALIDATIONS</h3>
        <div class="row lit-review2">
            <ul>
                <li>Enrollment management process should be as easy and quick, preferrably automated.</li>
                <li>District management features should include full range of capabilities to adjust or edit enrollment.</li>
                <li>User flow should be streamlined so users do not need to contact customer support for small matters.</li>
            </ul><br>
        </div>
        <h3>TASK FLOW</h3>
        <%= image_tag "p2/p2-p9.png", class: "img-centered img-responsive break" %>
        <h3>AFFINITY MAP</h3>
        <p>Recording all observations, we created an affinity map to visualize user concerns and needs.</p>
        <%= image_tag "p2/p2-p11.png", class: "img-centered img-responsive break" %><br>
        <h3>USE CASE SCENARIO</h3>
        <p class="project-description">A user journey map was crafted to tell the story of the customer’s experience: from initial contact, through the process of engagement and into a long-term relationship.</p>
        <%= image_tag "p2/p2-p14.png", class: "img-centered img-responsive break" %>
    </div>
</div>


 <div class="research bg-light container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>REDESIGN RECCOMENDATION</h1><br>
        <h4>#1 GRANT ADMIN POWER USER FEATURES</h4>
        <div class="row lit-review2">
            <ul>
                <li>Enable features that are available to our customer service team to the users end. This will give users the ability to make changes without contacting the company.</li>
            </ul>
        </div>
        <h4>#2 USE THIRD PARTY ENROLLMENT MANAGEMENT</h4>
        <div class="row lit-review2">
            <ul>
                <li>Partner with a third party vendor that manages enrollment and secure SFTP. This will alleviate the management tasks for our administrators and customer service team.</li>
            </ul>
        </div>
        <%= image_tag "p2/p2-p10.png", class: "img-centered img-responsive break" %>
        <h4>#3 BUILD AUTO ROSTERING FEATURE IN-HOUSE</h4>
        <div class="row lit-review2">
            <ul>
                <li>Create a similar process in house (similar to #2) to meet the demands of users. This will prevent the company from having to rely on a third party data manager.</li>
            </ul>
        </div>
    </div>
</div>

<section class="module parallax parallax-8">
    <div class="container">
    </div>
</section>

<div class="container project-content">
    <div class="col-lg-8 col-lg-offset-2">
        <h1>NEXT STEP</h1>
        <p class="project-description">The business decided to build the product in-house. Three large districts composed of 50 admins with 100,000 affected users were selected to test feature during the next enrollment cycle. Special instructions and regulations were given to these districts to track success rates of automated secure FTP.</p>
        <%= image_tag "p2/p2-p12.png", class: "center-block img-responsive break" %>
        <div class="outer" style="width:100%;text-align: center;">
            <a href="https://itunes.apple.com/us/app/ixl-math-and-english/id693689912?mt=8" style="display:inline-block;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:135px;height:40px;"></a>
            <a href='https://play.google.com/store/apps/details?id=com.ixl.ixlmath&hl=en&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1'><img alt='Get it on Google Play' style="display:inline-block; width:150px;height:60px; margin-bottom: 33px" src='https://play.google.com/intl/en_us/badges/images/generic/en_badge_web_generic.png'/></a>
        </div>
        <ul class="list-inline item-details text-center">
        <li>Client:
            <strong><a href="http://startbootstrap.com">IXL</a>
            </strong>
        </li>
        <li>Date:
            <strong><a href="http://startbootstrap.com">Nov 2015</a>
            </strong>
        </li>
        <li>Service:
            <strong><a href="http://startbootstrap.com">UX Research</a>
            </strong>
        </li>
    </ul>
    </div>
</div>
