<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">jules</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="/#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="/about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="/#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-text">
                    <h1 class="name">Jules Lee </h1>
                    <span class="skills">UX RESEARCH | NYC</span>
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <a href="about.html" class="btn link-btn">
                         ABOUT ME
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="module parallax parallax-2">
    <div class="container">
        <h1>IXL</h1>
        <h2>PRACTICE THAT FEELS LIKE PLAY</h2>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="/cs2" class="btn link-btn">
             <p>VIEW CASE STUDY<br><span class="text-muted">UX Research</span></p>
        </a>
    </div>
</section>

<section class="module parallax parallax-1">
    <div class="container">
        <h1>Cache</h1>
        <h2>Luxury Designer goods for less</h2>
        <div class="col-lg-8 col-lg-offset-2 text-center">
            <a href="/cs1" class="btn link-btn">
             <p>VIEW CASE STUDY<br><span class="text-muted">UX Research & Design</span></p>
            </a>
        </div>
    </div>
</section>




<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center side">
                <h1>SIDE SALAD</h1>
                <h2>A MIX OF RECENT SIDE PROJECTS</h2>
            </div>
            <div class="col-lg-12 text-center visible">
                <h1>PORTFOLIO</h1>
                <h2>A MIX OF RECENT WORK</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 portfolio-item visible">
                <a href="/cs2" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "hero2.png", class: "img-responsive", alt: "" %>
                </a>
                <div class="portfolio-caption text-center">
                    <h4>IXL</h4>
                    <p class="text-muted">UX Research</p>
                </div>
            </div>
            <div class="col-sm-3 portfolio-item visible">
                <a href="/cs1" class="portfolio-link">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "hero1.png", class: "img-responsive", alt: "" %>
                </a>
                <div class="portfolio-caption text-center">
                    <h4>Cache</h4>
                    <p class="text-muted">UX Research / Design</p>
                </div>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "dwell.png", class: "img-responsive", alt: "" %>
                </a>
                <div class="portfolio-caption text-center">
                    <h4>Dwell Candy</h4>
                    <p class="text-muted">UX / UI</p>
                </div>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="/ecommerce" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "ecommerce.png", class: "img-responsive", alt: "" %>
                </a>
                <div class="portfolio-caption text-center">
                    <h4>ECOMMERCE</h4>
                    <p class="text-muted">FRONT-END DEV</p>
                </div>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "codriver.png", class: "img-responsive", alt: "" %>
                </a>
                <div class="portfolio-caption text-center">
                    <h4>CoDriver</h4>
                    <p class="text-muted">UX / UI</p>
                </div>
            </div>
            <div class="col-sm-3 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-plus fa-3x"></i>
                        </div>
                    </div>
                    <%= image_tag "fitiny.png", class: "img-responsive", alt: "" %>
                </a>
                <div class="portfolio-caption text-center">
                    <h4>FITINY</h4>
                    <p class="text-muted">UX Design</p>
                </div>
            </div>
        </div>
    </div>
</section>



<!-- Footer -->
<footer id="contact" class="footer text-center">
    <div class="footer-above">
        <div class="container chat">
            <h1>Let's Chat</h1>
            <p>If you have a project, I'd love to hear from you.</p>
        </div>

        <div class="contact">
            <h3>Jules Lee</h3>
            <p>julianalee830@gmail</p>
        </div>


        <div class="footer-below container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li>
                            <a href="https://www.facebook.com/juliana.lee.9400" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/jules-lee-a91b7a119" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                        </li>
                        <li>
                            <a href="https://www.behance.net/jalee9c0d" target="_blank" class="btn-social btn-outline"><i class="fa fa-behance" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    Copyright &copy; Julia Lee 2015
                </div>
            </div>
        </div>
    </div>
</footer>



<!-- /modal 2 _________________-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="container">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h1>Codriver</h1>
                        <p class="project-description"><a href="codriver.io">Codriver</a> is an education technology startup that helps drivers and traffic violators complete traffic course, remove traffic points or to deduct insurance rates. Codriver's course is aimed to be time efficient and convenient for learners.</p>
                        <%= image_tag "codriver1.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>STYLE TILE</h2>
                        <p class="project-description">Emotions can be affected by visuals. Color palette selected aims to promote trust and positive feelings.</p>
                        <%= image_tag "codriver2.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>EARLY MOCKUP</h2>
                        <p class="project-description">One of the early iterations of the landing page UI.</p>
                        <%= image_tag "codriver3.png", class: "img-responsive center-block break", alt: "" %>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <button type="button" class="btn link-btn close-btn center-block" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h1>Dwell Candy</h1>
                        <p><a href="dwellcandy.com">Dwell Candy</a> is an interior design startup that aims to simplify the design and renovation process. The team, which consisted of the CEO and their lead software engineer, redesigned the landing page to rebrand the existing company's image.</p>
                        <%= image_tag "dwell1.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>COMPETITIVE ANALYSIS</h2>
                        <p>The owner asked to conduct research to validate the initial vision of the company. We conducted phone interviews with interior design professionals and existing customers in the Bay area to understand their needs.</p>
                        <%= image_tag "dwell3.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>SITE MAP</h2>
                        <p>The recommendations from research were used to expand on the site map and build detailed wireframes. Wireframes below are for the "Quote Request" section of the site.</p>
                        <%= image_tag "dwell2.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>STYLE TILE</h2>
                        <p>The goal was to focus on the portfolio of the designers so we kept the style palette simple to let photos stand out. Existing brand color were used and navy was added as a complimentary color.</p>
                        <%= image_tag "dwell4.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>MOCKUP</h2>
                        <%= image_tag "dwell5.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>PROTOTYPE</h2>
                        <p>Prior to executing site revisions, a prototype was built using <a href="marvelapp.com>">Marvel</a> to test how the site will behave and to receive feedback for revision.</p>
                        <iframe src="https://marvelapp.com/1080f63?emb=1" class="center-block" width="800" height="700" allowTransparency="true" frameborder="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <button type="button" class="btn link-btn close-btn center-block" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h1>FITINY</h1>
                        <p>Fitiny is a fashion startup that aims to bring consumers in the United States brands and goods from other countries including China, Korea, and Japan. The owner wanted to redesign the site for a more modern feel.</p>
                        <%= image_tag "fitiny1.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>WIREFRAME</h2>
                        <p>Wireframes were drafted to help users effectively filter and view items. Sketches shown below reflect transitions for user reviews, promotion links, and shopping cart.</p>
                        <%= image_tag "fitiny2.png", class: "img-responsive center-block break", alt: "" %>
                        <h2>EARLY ITERATIONS</h2>
                        <%= image_tag "fitiny3.png", class: "img-responsive center-block break", alt: "" %>
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2">
                    <button type="button" class="btn link-btn close-btn center-block" data-dismiss="modal"><i class="fa fa-times"></i> CLOSE</button>
                </div>
            </div>
        </div>
    </div>
</div>
