<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Julia Lee | UX Design Portfolio</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <link href='https://fonts.googleapis.com/css?family=Lily+Script+One' rel='stylesheet' type='text/css'>
  </head>

  <body id="page-top" class="index">
    <%= yield %>

    <!-- jQuery -->
    <%= javascript_include_tag "jquery.js" %>

    <!-- Bootstrap Core JavaScript -->
    <%= javascript_include_tag "bootstrap.js" %>

    <!-- Plugin JavaScript -->
    <%= javascript_include_tag "jeasing.js" %>
    <%= javascript_include_tag "classie.js" %>
    <%= javascript_include_tag "cbpAnimatedHeader.js" %>

    <!-- Contact Form JavaScript -->
    <%= javascript_include_tag "jqBootstrapValidation.js" %>

    <!-- Custom Theme JavaScript -->
    <%= javascript_include_tag "freelancer.js" %>

    <%= javascript_include_tag "contact_me.js" %>
  </body>
</html>
